body {
    /* background: black; */
    color: white;
    background-image: url("madmen.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 37% 90%;
}

img {
    position:fixed;
    left:150px;
    margin:0 auto 0;
}
